container=docker

MYSQL_ROOT_PASS={{ db_root_password|shell_quote }}
MYSQL_HOST={{ "gromox-db"|shell_quote }}
MYSQL_USER={{ db_user|shell_quote }}
MYSQL_PASS={{ db_password|shell_quote }}
MYSQL_DB={{ db_name|shell_quote }}

CHAT_MYSQL_ROOT_PASS={{ db_root_password|shell_quote }}
CHAT_MYSQL_HOST={{ "chat-db"|shell_quote }}
CHAT_MYSQL_USER={{ chat_db_user|shell_quote }}
CHAT_MYSQL_PASS={{ chat_db_password|shell_quote }}
CHAT_MYSQL_DB={{ chat_db_name|shell_quote }}

CHAT_ADMIN_PASS={{ chat_admin_pass|shell_quote }}
FILES_ADMIN_PASS={{ files_admin_pass|shell_quote }}
ADMIN_PASS={{ admin_pass|shell_quote }}

ORIGFQDN={{ fqdn|shell_quote }}
FQDN={{ fqdn|shell_quote }}
ORIGDOMAIN={{ domain|shell_quote }}
DOMAIN={{ domain|shell_quote }}
INTERNAL_HOSTNAME={{ internal_hostname|shell_quote }}
RELAYHOST={{ relayhost|shell_quote }}

REPO_USER={{ ""|shell_quote }}
REPO_PASS={{ ""|shell_quote }}

CLEAR_DBS=false
FORCE_RECONFIG=false

LOGFILE={{ "/var/log/grommunio-setup.log"|shell_quote }}
CHAT_CONFIG={{ "/etc/grommunio-chat/config.json"|shell_quote }}

ORGANIZATION={{ organization|shell_quote }}
TIMEZONE={{ timezone|shell_quote }}
HTTP_PROXY_USER={{ "localhost"|shell_quote }}
HTTP_PROXY_DOMAIN={{ "localhost"|shell_quote }}

ENABLE_CHAT={{ "true" if enable_chat else "false" }}
ENABLE_ARCHIVE=false
ENABLE_OFFICE=false
ENABLE_FILES=false

SSL_INSTALL_TYPE={{ ssl_install_type|shell_quote }}
SSL_COUNTRY={{ ssl_country|shell_quote }}
SSL_STATE={{ ssl_state|shell_quote }}
SSL_LOCALITY={{ ssl_locality|shell_quote }}
SSL_ORG={{ ssl_org|shell_quote }}
SSL_OU={{ ssl_ou|shell_quote }}
SSL_EMAIL={{ ssl_email|shell_quote }}
SSL_DAYS={{ ssl_days|shell_quote }}
SSL_PASS={{ ssl_pass|shell_quote }}
